    <div class="row">
        <div class="eight columns">
            <h3>API</h3>

            <div class="requests">
                Check Status Endpoint: /api/[distributor]
                <br/>
                <dl>
                    <dt>params:</dt>
                    <dd>
                        <ul>
                            <li>
                                <strong>upc</strong>: Required for Spotify/iTunes/Rdio
                            </li>
                            <li>
                                <strong>artist</strong>: Required for Amazon/Deezer/Google
                            </li>
                            <li>
                                <strong>album_title</strong>: Required for Amazon/Deezer/Google
                            </li>
                        </ul>
                    </dd>
                </dl>
                <br/>
                Outlets:
                <ul>
                    <li>spotify</li>
                    <li>itunes</li>
                    <li>rdio</li>
                    <li>amazon</li>
                    <li>deezer</li>
                    <li>google</li>
                </ul>
                <br/>
                example:
                <a href="http://is-it-live.appspot.com/api/spotify?upc=884502232769" target="_new">
                        http://is-it-live.appspot.com/api/spotify?upc=884502232769
                </href>
                <br/>
                <a href="http://is-it-live.appspot.com/api/deezer?album_title=You+Forget+It+In+People&artist=Broken+Social+Scene" target="_new">
                    http://is-it-live.appspot.com/api/deezer?album_title=You+Forget+It+In+People&artist=Broken+Social+Scene
                </href>
            </div>
        </div>
    </div>