    <div class="row">
        <div class="eight columns">
            <h3>API</h3>

            <div class="requests">
                Check Status Endpoint: /api/[distributor]
                <br/>
                <dl>
                    <dt>params:</dt>
                    <dd>
                        <ul>
                            <li>
                                <strong>upc</strong>: Required for Spotify/iTunes/Deezer/Rdio
                            </li>
                            <li>
                                <strong>artist</strong>: Required for Amazon
                            </li>
                            <li>
                                <strong>album_title</strong>: Required for Amazon
                            </li>
                        </ul>
                    </dd>
                </dl>
                <br/>
                example:
                <a href="http://is-it-live.appspot.com/api/spotify?upc=884502232769" target="_new">
                        http://is-it-live.appspot.com/api/spotify?upc=884502232769
                </href>
            </div>
        </div>
    </div>