    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h4>Go Live</h4>
        <!--<p>
          Get notified when your album is live!
        </p>-->
        <p>Find out if your album is live</p>
        <form ng-submit="checkStatus(album)">
          <div class="row">
            <!--<div class="twelve columns">
              <label for="email">Your email</label>
              <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="email">
            </div>-->
            <div class="six columns">
              <label for="upc">Album upc
              <span ng-class="required.upc ? 'show_required' : 'hide_required'">Required</span>
              </label>
              <input class="u-full-width" ng-model="album.upc" type="text" placeholder="8109345998" id="upc">
            </div>
            <div class="six columns">
              <label for="artist">Album Artist
              <span ng-class="required.artist ? 'show_required' : 'hide_required'">Required</span>
              </label>
              <input class="u-full-width" ng-model="album.artist" type="text" placeholder="Disasterpiece" id="artist">
            </div>
            <div class="twelve columns">
              <label for="title">Album title
              <span ng-class="required.title ? 'show_required' : 'hide_required'">Required</span>
              </label>
              <input class="u-full-width" ng-model="album.title" type="text" placeholder="Star Wars Medley" id="title">
            </div>
            <div class="twelve columns">
              <label for="distributor">Distributor</label>
              <span class="is-required"></span>
              <select ng-model="album.distributor" ng-change="checkRequiredValues(album.distributor)" class="u-full-width" id="distributor">
                <option value="spotify">Spotify</option>
                <option value="rdio">Rdio</option>
                <option value="itunes">iTunes</option>
                <option value="amazon">Amazon</option>
              </select>
            </div>
          </div>
          <input class="button-primary" type="submit" value="Is it Live?">
        </form>

<!--         <pre>
          <code>
            {{ album | json }}
          </code>
        </pre>
 -->
      </div>
    </div>