    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h4>Go Live</h4>
        <p>
          Get notified when your album is live!
        </p>
        <form>
          <div class="row">
            <div class="six columns">
              <label for="upc">Album upc</label>
              <input class="u-full-width" type="text" placeholder="8109345998" id="upc">
            </div>
            <div class="six columns">
              <label for="title">Album title</label>
              <input class="u-full-width" type="text" placeholder="Lonesome Dreams" id="title">
            </div>
            <div class="twelve columns">
              <label for="distributor">Distributor</label>
              <select class="u-full-width" id="distributor">
                <option value="spotify">Spotify</option>
                <option value="rdio">Rdio</option>
                <option value="itunes">iTunes</option>
                <option value="amazon">Amazon</option>
              </select>
            </div>
            <div class="twelve columns">
              <label for="email">Your email</label>
              <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="email">
            </div>
          </div>
          <input class="button-primary" type="submit" value="Let me know">
        </form>

      </div>
    </div>